@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(45deg, #131c25 30%, #1c1b1f 70%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    width: 90%;
    margin: auto;
}

html {
    scroll-behavior: smooth;
}